* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(199, 233, 148, 1) 100%
  );
}

h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
}
#profile {
  display: inline;
}

.accordion {
  position: relative;
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #ffffff;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-top: 0.4em;
  transition: all 0.3;
  max-height: 4em;
}

.accordion-title:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion-title:hover {
  background-color: #deb7b7;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
  border: 1px solid gray;
  box-shadow: inset;
}

.accordion-content {
  background-color: #ffffff;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.edit {
  border: 1px solid gray;
  border-radius: 0.5em;
}

img {
  shape-outside: circle();
  margin-right: 2px;
}

i {
  float: right;
}

input:disabled {
  border-style: none;
  width: 30vw;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}
